/* Mobile version  */
@media (max-width: 834px) {
  header {
    height: auto;
  }
  .page-navigation {
    display: none;
  }
  .homepage {
    background-image: url(../img/mobile-version.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  #myVideo {
    display: none;
  }
  .homepage-content {
    transform: translateY(40vh);
  }
  .homepage-content__heading {
    font-size: 30px;
    line-height: 36.01px;
  }
  .homepage-content__text,
  .homepage-link {
    font-size: 15px;
    line-height: 18.87px;
  }
  .bottom-link {
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
  }
  .bottom-p {
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    width: fit-content;
    font-size: 10px;
    line-height: 12px;
  }
  .search {
    max-width: 100px;
  }
  /* search-result-mobile"  */
  .result-content {
    max-width: 325px;
  }
  .result-content {
    margin-top: 68px;
  }
  .result-item {
    text-align: center;
    margin: 0 20px 30px;
  }

  /* Section Introduction main page  */
  .intro {
    flex-direction: column;
    padding: 0;
  }
  .intro-col {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
  }
  .intro-col p {
    padding: 0 15px;
  }
  .intro-img_1 {
    margin-bottom: 60px;
  }
  .intro-img_2,
  .intro-img_3,
  .intro-img_4 {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .intro-col:last-child p {
    padding-left: 15px;
  }
  /* Footer  */
  .footer-nav {
    padding: 0 40px;
  }
  .footer-navigation li:nth-child(1) {
    display: none;
  }
  .toHide {
    display: block;
  }

  /* Parsing page  */
  .parsing-content__heading {
    font-size: 50px;
    line-height: 60px;
  }
  .parsing-content__text {
    font-size: 15px;
    line-height: 19px;
  }
  .page-info article {
    max-width: 90%;
  }
  .name-date {
    flex-direction: column;
  }
  .number-1 {
    max-width: 90%;
  }
  .number-2 {
    max-width: 130%;
    right: -50px;
  }
  .description {
    flex-direction: column;
  }
  .description .column {
    width: 100%;
  }
  .mobileShow {
    display: block;
  }
  .mobileHide {
    display: none;
  }
}
